* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #region COMMON and Utilities */

body {
    font-family: 'Circular Std', sans-serif;
}

:root {
    --color_primary: rgba(20, 25, 34, 1);
    --color_secondary: rgba(40, 40, 40, 1);
    --color_greenlight: rgba(173, 255, 47, 1);
    --color_greylight: rgba(125, 127, 132, 1);
    --color_dark: rgba(8, 11, 18, 1);
    --color_darker: rgba(0, 0, 0, 1);
    --color_lighter: rgba(255, 255, 255, 1);
}

/* #region UTILITIES XS COLUMN */
.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: 100%;
}

/* #endregion UTILITIES XS COLUMN */

.container {
    padding: 0 1rem;
}

.d_flex {
    display: flex;
}

.f_wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

.card {
    padding: 0 0.75rem
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* #endregion COMMON and Utilities */


/* #region MAIN */
#app_main {
    height: calc(100vh - 90px);
}

#app_main .sidebar {
    width: 50px;
    background-color: var(--color_darker);
}

#app_main .main_content {
    width: calc(100% - 50px);
    overflow-y: auto;
    background-color: var(--color_primary);
}

#app_main .main_top {
    height: 90px;
    background-color: var(--color_dark);
}

/* nav */
#app_main .main_bottom ul {
    justify-content: center;
    align-items: center;
}

#app_main .main_bottom li {
    padding: 1rem;
}

#app_main .main_bottom a {
    font-size: 0.75rem;
    color: var(--color_greylight);
}

/* /nav */

#app_main p.artist {
    color: var(--color_greylight);
    font-size: 0.75rem;
    text-align: center;
}

#app_main h2,
#app_main h3.album {
    margin: 1.5rem 0 2rem 0;
    color: var(--color_lighter);
}

#app_main h3.album {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#app_main .main_bottom [class^=col] {
    padding: 0.25rem 0;
}




/* #region FOOTER */

#app_footer {
    height: 90px;
    background-color: var(--color_secondary);
}


/* #region DEBUG */

.debug * {
    border: 1px dashed white;
}

/* #endregion DEBUG */


/* #region MEDIA SCREEN */

/* landscape smartphone */
@media screen and (min-width: 568px) {

    /* #region UTILITIES S_COLUMN */
    .col_s_1 {
        width: calc(100% / 12 * 1);
    }

    .col_s_2 {
        width: calc(100% / 12 * 2);
    }

    .col_s_3 {
        width: calc(100% / 12 * 3);
    }

    .col_s_4 {
        width: calc(100% / 12 * 4);
    }

    .col_s_5 {
        width: calc(100% / 12 * 5);
    }

    .col_s_6 {
        width: 50%;
    }

    .col_s_7 {
        width: calc(100% / 12 * 7);
    }

    .col_s_8 {
        width: calc(100% / 12 * 8);
    }

    .col_s_9 {
        width: calc(100% / 12 * 9);
    }

    .col_s_10 {
        width: calc(100% / 12 * 10);
    }

    .col_s_11 {
        width: calc(100% / 12 * 11);
    }

    .col_s_12 {
        width: 100%;
    }

    /* #endregion UTILITIES S_COLUMN */

    #app_main .sidebar {
        width: 230px;
    }

    #app_main .main_content {
        width: calc(100% - 230px);
        overflow-y: auto;
    }
}


/* tablet */
@media screen and (min-width: 768px) {

    /* #region UTILITIES MD_COLUMN */
    .col_md_1 {
        width: calc(100% / 12 * 1);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: 50%;
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: 100%;
    }

    /* #endregion UTILITIES MD_COLUMN */
}


/* desktop */
@media screen and (min-width: 1200px) {

    /* #region UTILITIES LG_COLUMN */
    .col_lg_1 {
        width: calc(100% / 12 * 1);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: 100%;
    }

    /* #endregion UTILITIES LG_COLUMN */
}