* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #region COMMON and Utilities */

body {
    font-family: 'Circular Std', sans-serif;
}

:root {
    --color_primary: rgba(20, 25, 34, 1);
    --color_secondary: rgba(40, 40, 40, 1);
    --color_greenlight: rgba(173, 255, 47, 1);
    --color_greylight: rgba(125, 127, 132, 1);
    --color_dark: rgba(8, 11, 18, 1);
    --color_darker: rgba(0, 0, 0, 1);
    --color_lighter: rgba(255, 255, 255, 1);
}

/* #region UTILITIES XS COLUMN */
.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: 100%;
}

/* #endregion UTILITIES XS COLUMN */

.container {
    padding: 0 1rem;
}

.d_flex {
    display: flex;
}

.f_wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

.card {
    padding: 0 0.75rem
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2,
h3 {
    color: var(--color_lighter);
}

p {
    color: var(--color_greylight);
    font-size: 0.75rem;
}

.btn {
    color: var(--color_lighter);
    border: 1px solid white;
    padding: 0.75rem 2.5rem;
    border-radius: 2rem;
}

/* #endregion COMMON and Utilities */


/* #region MAIN */

/* #region aside */

#app_main .sidebar {
    width: 50px;
    min-height: 90px;
    height: calc(100vh - 90px);
    background-color: var(--color_darker);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#app_main .sidebar li {
    padding: 0.25rem 0;
}

#app_main .sidebar li a {
    color: var(--color_lighter);
}

#app_main .sidebar img {
    width: 25px;
}

#app_main .side_menu_bottom {
    height: 85px;
    width: 100%;
}

/* sidebar  XS*/

#app_main .sidebar .download_icon {
    text-align: center;
}

#app_main .sidebar .side_menu_bottom .download_icon img {
    width: 15px;
}

#app_main .sidebar .side_menu_bottom .user_pic {
    text-align: center;
}

#app_main .sidebar .side_menu_bottom .user_pic img {
    border-radius: 50%;
    background-color: gray;
    aspect-ratio: 1 / 1;
    width: 30px;
}

/* sidebar for BIGGER SCREEN */

#app_main #sidemenu_top {
    display: none;
}

#app_main #sidemenu_top #logo_big {
    padding: 1rem;
}

#app_main #sidemenu_top #logo_big img {
    width: 120px;
}

#app_main .sidebar #sidemenu_top li,
#app_main .sidebar #sidemenu_bottom li {
    padding: 0.25rem 1rem;
}

#app_main #sidemenu_bottom {
    /* cambiare nome id */
    display: none;
}

#app_main #playlist_side {
    display: none;
    width: 230px;
}

#app_main #playlist_side h3 {
    text-align: left;
    padding: 0.25rem 1rem;
}

#app_main #add_playlist {
    color: var(--color_lighter);
    padding: 0.25rem 1rem;
}

#app_main #list_playlist {
    height: calc(100vh - 470px);
    overflow-y: auto;
    margin-top: 1rem;
}

#app_main #list_playlist li {
    color: white;
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
}

/* #endregion aside */


/* #region app_main main-content */

#app_main .main_content {
    width: calc(100% - 50px);
    background-color: var(--color_primary);
}

/* #region banner */

#app_main .banner {
    height: 90px;
    background-color: var(--color_dark);
    align-items: center;
    justify-content: end;
}

#app_main .banner a {
    display: inline-block;
    margin-right: 0.6rem;
    font-size: 0.75rem;
}

/* #endregion banner */

/* nav - menu center */

#app_main .main_bottom {
    height: calc(100vh - 90px - 90px);
    overflow-y: auto;
}

#app_main .main_bottom ul {
    justify-content: center;
    align-items: center;
}

#app_main .main_bottom li {
    padding: 1rem;
    cursor: pointer;
}

#app_main .main_bottom a {
    font-size: 0.75rem;
    color: var(--color_greylight);
}

/* /nav */

/* recently */
#app_main .main_bottom [class^=col] {
    padding: 0.25rem 0;
}

#app_main p.artist {
    text-align: center;
}

#app_main #recently h2,
#app_main h3 {
    margin: 0.75rem 0 2rem 0;
}

#app_main h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* /recently */

/* create for and popular artist*/

#app_main #create_for h2,
#app_main #popular_artist h2 {
    margin: 1.5rem 0 0.5rem 0;
}

/* aggiustare padding sopra h2 popular artist */

#app_main #create_for p,
#app_main #popular_artist p {
    text-align: left;
    margin-bottom: 0.5rem;
}

#app_main #popular_artist img {
    border-radius: 50%;
}

/* /create for and popular artist */
/* #endregion app_main main-content */

/* #endregion MAIN */

/* #region FOOTER */

#app_footer {
    height: 90px;
    background-color: var(--color_secondary);
    /*     position: sticky;
    top: 0;
    left: 0; */
}

/* #endregion FOOTER */


/* #region DEBUG */

.debug * {
    border: 1px dashed white;
}

/* #endregion DEBUG */


/* #region MEDIA SCREEN */

/* landscape smartphone */
@media screen and (min-width: 568px) {

    /* #region UTILITIES S_COLUMN */
    .col_s_1 {
        width: calc(100% / 12 * 1);
    }

    .col_s_2 {
        width: calc(100% / 12 * 2);
    }

    .col_s_3 {
        width: calc(100% / 12 * 3);
    }

    .col_s_4 {
        width: calc(100% / 12 * 4);
    }

    .col_s_5 {
        width: calc(100% / 12 * 5);
    }

    .col_s_6 {
        width: 50%;
    }

    .col_s_7 {
        width: calc(100% / 12 * 7);
    }

    .col_s_8 {
        width: calc(100% / 12 * 8);
    }

    .col_s_9 {
        width: calc(100% / 12 * 9);
    }

    .col_s_10 {
        width: calc(100% / 12 * 10);
    }

    .col_s_11 {
        width: calc(100% / 12 * 11);
    }

    .col_s_12 {
        width: 100%;
    }

    /* #endregion UTILITIES S_COLUMN */

    #app_main .sidebar {
        width: 230px;
    }

    #app_main .sidebar {
        align-items: start;
    }

    #app_main #xs_sidemenu_top {
        display: none;
    }

    #app_main #xs_sidemenu_bottom {
        display: none;
    }

    #app_main #sidemenu_top {
        display: block;
    }

    #app_main #sidemenu_bottom {
        display: block;
    }

    #app_main #playlist_side {
        display: block;
    }

    #app_main .main_content {
        width: calc(100% - 230px);
    }

    #app_main .sidebar .download_icon,
    #app_main .sidebar .side_menu_bottom .user_pic {
        text-align: left;
    }

}


/* tablet */
@media screen and (min-width: 768px) {

    /* #region UTILITIES MD_COLUMN */
    .col_md_1 {
        width: calc(100% / 12 * 1);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: 50%;
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: 100%;
    }

    /* #endregion UTILITIES MD_COLUMN */
}


/* desktop */
@media screen and (min-width: 1200px) {

    /* #region UTILITIES LG_COLUMN */
    .col_lg_1 {
        width: calc(100% / 12 * 1);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: 100%;
    }

    /* #endregion UTILITIES LG_COLUMN */
}

/* #endregion MEDIA SCREEN */